# Global
ENV=development
LOG_LEVEL=INFO

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=supply_chain
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Order Service
ORDER_SERVICE_HOST=0.0.0.0
ORDER_SERVICE_PORT=8001
ORDER_SERVICE_DB_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/supply_chain
ORDER_SQS_QUEUE_URL=http://localstack:4566/000000000000/order-events

# Inventory Service
INVENTORY_SERVICE_HOST=0.0.0.0
INVENTORY_SERVICE_PORT=8002
INVENTORY_SERVICE_DB_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/supply_chain
INVENTORY_SQS_QUEUE_URL=http://localstack:4566/000000000000/order-events
INVENTORY_EVENT_QUEUE_URL=http://localstack:4566/000000000000/inventory-events

# Shipment Service
SHIPMENT_SERVICE_HOST=0.0.0.0
SHIPMENT_SERVICE_PORT=8003
SHIPMENT_SERVICE_DB_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/supply_chain
SHIPMENT_SQS_QUEUE_URL=http://localstack:4566/000000000000/inventory-events

# AWS / LocalStack
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localstack:4566
